/* You can add global styles to this file, and also import other style files */
@use './assets/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: $text-primary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
}

html, body {
    height: 100%;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}